html {
    font-size: 62.5%;
    margin: 0;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: sans-serif;
}

#hero,
#block-lpnushortcutstop4 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    transition: color 0.5s ease-out;
}

#hero {
    position: relative;
    width: 100% !important;
    background-size: cover !important;
    background-position: center top !important;
    min-height: 550px; 
}

#hero .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1140px; 
    max-width: 100%;
}

.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(46, 49, 146, 0), rgba(46, 49, 146, 1));
    min-height: 295px;
}

#hero h2 {
    text-align: center;
    /* Merged from 1200px Media Query */
    font-size: 5rem;
    margin: 0 0 5rem 0;
}

#hero a:link, #hero a:visited { color: #fff; transition: color 3s ease-out; }
#hero a:hover, #hero a:active { color: #00A1E4; }

#block-lpnushortcutstop4 {
    background: rgb(46, 49, 146);
    /* Ensures the container wraps around the floated items */
    overflow: hidden; 
}

#block-lpnushortcutstop4:before {
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-image: linear-gradient(to right, #2E3192 0%, #fff 50%, #2E3192 100%);
}

#block-lpnushortcutstop4 .col-sm-3 {
    float: left;
    width: 25%;
    position: relative;
    min-height: 134px; 
}

#block-lpnushortcutstop4 h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 2.1rem;
}

#block-lpnushortcutstop4 h2 svg {
    color: #00A1E4;
    margin-right: 0.5rem;
}

#block-lpnushortcutstop4 a:link, #block-lpnushortcutstop4 a:visited { color: #fff; transition: color 3s ease-out; }
#block-lpnushortcutstop4 a:hover, #block-lpnushortcutstop4 a:active { color: #00A1E4; }

.shortcut-1,
.shortcut-3 {
    background: none;
}

.shortcut-2,
.shortcut-4 {
    background: #252775;
}